.hero__wrapper {
    position: relative;
}
.hero {
    text-align: center;
    padding: 10rem 0 5rem;
}
.hero__block {
    max-width: 50rem;
    margin: 0 auto 5rem;
}
.hero .title {
    margin-bottom: 2rem;
    color: var(--third-brand-color);
    -webkit-text-stroke: .1rem var(--second-brand-color);
}
.hero .text {
    max-width: 40rem;
    margin: 0 auto 3rem;
}
.hero__image-block {
    position: relative;
    max-width: 60rem;
    max-height: 40rem;   
    margin: 0 auto; 
    -webkit-box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
    -moz-box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
    box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
}
.hero__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__image-block .lines-block {
    position: absolute;
    bottom: -3rem;
    right: 3rem;
}




.lines-block {
    display: flex;
    justify-content: space-between;
    width: 6rem;
    height: 6rem;
}
.lines-block span {
    width: .4rem;
}
.lines-block span.first {
    background-color: var(--third-brand-color);
}
.lines-block span.second {
    background-color: var(--second-brand-color);
}
.lines-block span.third {
    background-color: var(--fourth-brand-color);
}
.lines-block span.fourth {
    background-color: var(--first-brand-color);
}
.section {
    position: relative;
}
.section-number {
    position: absolute;
    color: var(--first-brand-color);
    font-family: var(--main-title-font);
    font-size: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
}




.contacts {
    padding: 15rem 0;
    text-align: center;
}
.contacts__item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.contacts__span {
    font-family: var(--main-title-font);
    font-size: 2rem;
    color: var(--third-brand-color);
    margin-right: .5rem;
}
.contacts__list {
    margin-bottom: 5rem;
}
.contacts__btn-block {
    position: relative;
    margin: 0 auto;
    width: fit-content;
}
.contacts__btn-block .lines-block {
    position: absolute;
    bottom: -2rem;
    right: -3rem;
}



.phrase {
    padding: 12rem 0;
    text-align: center;
}
.phrase__title {
    font-family: var(--main-title-font);
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--second-brand-color);
    -webkit-text-stroke: .1rem var(--third-brand-color);
}
.phrase .text {
    margin: 0 auto 3rem;
    max-width: 40rem;
    font-family: var(--title-font);
}
.phrase__img-block {
    position: relative;
    max-width: 60rem;
    max-height: 40rem;   
    margin: 0 auto 4rem; 
    -webkit-box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
    -moz-box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
    box-shadow: 0rem .5rem 3rem .5rem rgba(0,0,0,0.3);
}
.phrase__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phrase__img-block .lines-block {
    position: absolute;
    top: -3rem;
    right: 3rem;
}




.policy {
    padding: 12rem 0;
    text-align: center;
}
.policy__title {
    margin-bottom: 6rem;
}
.policy__block {
    max-width: 75rem;
    margin: 0 auto;
}
.policy .text {
    font-family: var(--title-font);
}
.policy .text-color {
    font-family: var(--main-title-font);
    text-transform: uppercase;
    color: var(--second-brand-color);
}


@media screen and (min-width: 1440px)  {
    .bg-wrapper {
        position: relative;
    }
    .bg-wrapper::before {
        position: absolute;
        display: block;
        content: '';
        width: 30%;
        height: 100%;
        z-index: -2;
        background-color: var(--second-brand-color);
        top: 0;
        right: 0;
    }

    .hero {
        padding: 20rem 0 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    .hero__image-block,
    .hero__block,
    .phrase__img-block {
        margin: 0;
    }
    .hero .text {
        margin-left: 0;
        margin-right: 0;
    }
    .hero .btn {
        margin: 0;
    }


    .section-number {
        font-size: 25rem;
        line-height: .7;
        -webkit-text-stroke: .1rem var(--third-brand-color);
    }



    .contacts {
        padding: 20rem 0 20rem 40rem;
        text-align: left;
    }
    .contacts__btn-block {
        margin-left: 0;
    }


    .phrase {
        padding: 25rem 0 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    .phrase__block {
        background-color: rgba(211, 228, 197, .8);
        margin-left: -10rem;
        z-index: 2;
        padding: 5rem;
        position: relative;
    }

    .policy {
        padding: 20rem 0 12rem;
        text-align: left;
    }
 
}
